%navbar {
  margin-bottom: 1.75rem;
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 3px 5px 20px 2px #666;
  z-index: 4;
  background-color: #fff;
  img {
    height: 10vh;
    width: 10vh;
  }
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    li {
      list-style: none;
      a {
        padding: 0.75rem;
        margin: 0.75rem;
        text-transform: capitalize;
        text-decoration: none;
        border-radius: 0.75rem;
        box-shadow: 3px 5px 20px 2px #666;
      }
    }
  }
}

.desktop {
  @extend %navbar;
}
