canvas {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 60vh !important;
  width: 90vw !important;
  font-weight: bold;
}

.link-button {
  padding: 0.75rem;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: 3px 5px 20px 2px #666;
  &:hover {
    box-shadow: 3px 5px 20px 2px #777;
  }
}
